/* Fuentes y reset básico */
body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

/* Contenedor general */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* HEADER */
header {
  background-color: #66092aca;
  color: white;
  padding: 20px 0;
  text-align: center;
}

header .subtitle {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* SECCIONES */
section {
  padding: 40px 0;
}

/* Sobre mí */
.about-me {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.about-me img {
  border-radius: 50%;
  width: 150px;
}

/* Cards (Formación y Proyectos) */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card h3 {
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #903acd;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #903acd;
}

/* Contacto */
.contact-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

form {
  flex: 1;
  min-width: 250px;
}

form input,
form textarea,
form button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #8f2a2a;
  border-radius: 5px;
}

.contact-info {
  flex: 1;
  min-width: 250px;
}

/* FOOTER */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}
